*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
}
.admin-dashboard{
    display: flex;
    width: 100%;
}
.sidebar{
    width: 20%;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgb(231, 231, 231);
    height: 100vh;
    position: fixed;
}
.sidebar-div{
    width: 20%;
}
.sidebar-logo{
    padding:0% 20%;
}
.sidebar-logo>svg{
    width: 100%;
}
.dashboard-items-group{
    margin-top: 20%;
    padding: 2% 5% 2% 12%;
    list-style-type: none;
}
.dashboard-item>a{
    padding: 5% 2%;
    margin: 10% 0%;
    display: flex;
}
.dashboard-item>a{
    text-decoration: none;
    color: rgb(31, 31, 31);
}
.dashboard-item>a>svg{
    width: 60px;
}
.dashboard-item>a>h3{
    width: 80%;
    margin-top: 1%;
    font-weight: 300 !important;
    font-size: 17px;
}
.active{
    background-color: rgb(43, 70, 129);
    border-radius: 8px;
    color: white !important;
    font-weight:600;
}
.main-page{
    width: 80%;
}
.main-page__main-text{
    font-size: 30px;
    text-align: center;
    margin: 25% 20%;
    font-weight: 600;
    color: rgb(48, 48, 48);
}
.table-div{
    padding: 5% 2%;
}
.add-student-btn{
    background-color: rgb(29, 74, 170);
    margin-left: 82%;
    margin-top: 2%;
}
.add-student-btn>svg{
    margin-right: 2%;
}
.add-student-btn>p{
    white-space:nowrap;
    margin-top: 1px;
}
.modal-div{
    background-color: rgba(48, 48, 48,0.5) !important;
}
.form-div{
    margin-top: 5%;
    margin-bottom: 2%;
    width: 30%;
}
.add-student-form-btn{
    background-color: rgb(29, 74, 170);
}
.add-student-form-btn:hover{
    background-color: rgb(22, 59, 139);
}
.error-message{
    width: 90%;
    list-style: initial;
    margin-left: 10%;
}
.error-message>li{
    color: rgb(248, 15, 15);
    margin: 2% 0%;
}
.success-message{
    background-color: rgb(73, 192, 73);
    width: 96%;
    margin: 2% 0% 2% 2%;
    margin-bottom: -1%;
}
.profile-picture{
    object-fit: contain;
}
.action-btn{
    background-color: rgb(40, 126, 212);
}
.action-btn:hover{
    background-color: rgb(29, 104, 180);
}
.profile-picture-div{
    margin-top: -0.5%;
    position: relative;
    height:30%;
    width: 100.5%;
    border-radius: 7px !important;
    margin-left: -0.3% !important;
}
.overlay-div{
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    left:0%;
    height: 100%;
    border-radius: 2px !important;
}
.profile-picture-one-student-view{
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}
.names{
    text-align: center;
    font-size: 22px;
}
.student-label{
    display: flex;
    margin-left: 5%;
    font-size: 17px;
    font-family: 'Poppins',sans-serif !important;
}
.student-label>svg{
    margin-right: 2%;
    margin-top: 0%;
}
.lines{
    display: flex;
    margin-top: 2%;
    margin-left: 4%;
}
.lines>.first-line{
    background-color: rgb(204, 204, 204);
    width: 30%;
    height: 1px;
    margin-top: 2.3%;
    margin-right: 2%;
}
.lines>.second-line{
    background-color: rgb(204, 204, 204);
    height: 1px;
    width: 30%;
    margin-top: 2.3%;
    margin-left: 1%;
}
.lines>p{
    font-size: 16px;
}
.student-view{
    width: 35%;
}
.action-buttons{
    display: flex;
    width: 100%;
    padding: 2% 5%;
}
.update-student-btn{
    background-color: rgb(21, 119, 50);
    padding: 3% 10% 0%;
    height: 50px;
    white-space: nowrap;
}
.delete-student-btn{
    background-color: rgb(248, 56, 56);
    margin-right: 3%;
    padding: 3% 10% 0%;
    height: 50px;
    white-space: nowrap;
}

.toggle-btn{
    position: absolute;
    top: calc(100vh - 70%);
    background-color: dodgerblue;
    padding: 1.7% 1.7%;
    border-radius: 8px;
}


@media screen and (max-width: 600px){
    body{
        width: 100%;
        overflow-x: hidden !important;
    }
    .table-div{
        width: 100%;
        padding-left: 0% !important;
        padding-right: 0%;
        overflow-x: auto;
        margin-left: 2%;
    }
    .add-student-btn{
        margin-left: 2% !important;
    }
    .sidebar{
        display: none;
    }
    .sidebar-div{
        width: 0%;
    }
}