*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
}
.admin-dashboard{
    display: flex;
    width: 100%;
}
.sidebar{
    width: 20%;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgb(231, 231, 231);
    height: 100vh;
    position: fixed;
}
.sidebar-div{
    width: 20%;
}
.sidebar-logo{
    padding:0% 20%;
}
.sidebar-logo>svg{
    width: 100%;
}
.dashboard-items-group{
    margin-top: 20%;
    padding: 2% 5% 2% 12%;
    list-style-type: none;
}
.dashboard-item>a{
    padding: 5% 2%;
    margin: 10% 0%;
    display: flex;
}
.dashboard-item>a{
    text-decoration: none;
    color: rgb(31, 31, 31);
}
.dashboard-item>a>svg{
    width: 60px;
}
.dashboard-item>a>h3{
    width: 80%;
    margin-top: 1%;
    font-weight: 300 !important;
    font-size: 17px;
}
.active{
    background-color: rgb(43, 70, 129);
    border-radius: 8px;
    color: white !important;
    font-weight:600;
}
.main-page{
    width: 80%;
}
.main-page__main-text{
    font-size: 30px;
    text-align: center;
    margin: 25% 20%;
    font-weight: 600;
    color: rgb(48, 48, 48);
}
.table-div{
    padding: 5%;
}
